$spacing--xl: 23px;
$spacing--m: 10px;

.infinite-scroll-component {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: $spacing--xl;
  gap: $spacing--xl;
  margin: $spacing--m 0 $spacing--xl 0;
  overflow-y: auto;
  max-height: 70%;
}

.results {
  overflow-y: auto;
  padding: 0 10px;
  height: 85%;
  margin-top: 35px;
}
